language: node_js

node_js:
#- 5.9.0 
- 4

script:
- npm test

before_deploy:
- npm config set registry "${NPM_REGISTRY}"
- npm config set _auth "${API_KEY}"

deploy:
  skip_cleanup: true
  provider: script
  script:
  - npm publish
 
#deploy:
#  skip_cleanup: true
#  provider: npm
#  email: tahatori@zlab.co.jp
#  api_key: invalid

