language: node_js

node_js:
#- 5.9.0 
- 4

script:
- npm test

before_deploy:
- HOME=. npm config set registry "${NPM_REGISTRY}"
- HOME=. npm config set _auth "${NPM_AUTH}"
- HOME=. npm config set email "${NPM_EMAIL}"
- HOME=. npm config set always-auth true

 
deploy:
  skip_cleanup: true
  provider: npm
  email: tahatori@zlab.co.jp
  api_key: invalid

